.projects {
  width: 90%;
  margin: auto;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects h2 {
  margin: 2rem 5rem;
}

.project {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  margin-bottom: 5rem;
}

.project img {
  max-width: 40rem;
}

.description {
  background-color: gainsboro;
  border-radius: 1.5rem;
  margin: 4rem;
}

.projectIntro {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projectTable {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  margin: auto;
}

.projectSummary {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.imgBorder {
  border: 2px solid gainsboro;
  border-radius: 2rem;
}
